*

!.gitignore
!README.md

!outputs/
outputs/*
!outputs/figures/
outputs/figures/*
!outputs/figures/yearly_lnl_trend.png
!outputs/figures/technical_keyword_ranking.png
!outputs/figures/task_type_distribution.png
!outputs/figures/LNL_wordcloud_2020_to_2026.png
